<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Historial de Pedidos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./../css/history.css" />
  <link rel="stylesheet" href="./../css/carousel-of-products.css" />
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="home-btn">
        <a href="./index.html">Regresar</a>
      </div>
      <h1>Historial de pedidos</h1>
    </div>
  </header>
  <div class="container">
    <section class="orders">
      <table class="table table-striped" id="orders-table">
        <thead>
          <tr>
            <th>ID del pedido</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Productos</th>
          </tr>
        </thead>
        <tbody id="order-history-body"></tbody>
      </table>
      <!-- Mensaje de error, inicialmente oculto -->
      <div id="error-message" class="alert alert-danger" style="display: none;">
        Por el momento no hay pedidos para mostrar.
      </div>
    </section>
  </div>
  <script src="./../js/history.js"></script>
</body>

</html>