<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shop Master || Tienda de Ropa</title>
  <link rel="stylesheet" href="./../css/index.css" />
  <link rel="stylesheet" href="./../css/submenu.css" />
  <link rel="stylesheet" href="./../css/buttons.css" />
  <link rel="stylesheet" href="./../css/footer.css" />
  <link rel="icon" href="./../assets/game-icons--hummingbird.svg" type="image/svg+xml">
</head>

<body>
  <header>
    <div id="menu">
      <div class="inner-menu-container">
        <a id="logo" href="#">
          <img src="./../assets/game-icons--hummingbird.svg" alt="Logo Image" />
          Shop Master
        </a>
      </div>

      <div class="inner-menu-container">
        <div class="icon-container" id="car-shop">
          <div class="submenu">
            <img src="./../assets/material-symbols-light--shopping-cart.svg" alt="Carrito de compras">
            <div class="submenu-dropdown" id="submenu-dropdown-car">
              <h3>Carrito</h3>
              <table id="shop-list">
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cant</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <a href="./../views/purchase.html" id="purchase-btn" class="btn-1">Ir a la compra</a>
              <a href="#" id="flush-car-shop" class="btn-2">Vaciar Carrito</a>
            </div>
          </div>
        </div>
        <div class="icon-container">
          <div class="submenu">
            <img src="./../assets/mdi--account-circle.svg" alt="Mi cuenta">
            <div class="submenu-dropdown">
              <h3>Mi cuenta</h3>
              <a href="./../views/login.html" id="login-btn" class="btn-1" style="display: none">Iniciar sesión</a>
              <a href="./../views/register.html" id="register-btn" class="btn-2" style="display: none">Registrarme</a>
              <a href="./../views/history.html" id="history-btn" class="btn-1" style="display: none">Ver pedidos</a>
              <a href="/" id="logout-btn" class="btn-2" style="display: none">Cerrar sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="container" id="landing-page">
    <div id="main-img">
      <img src="./../assets/model-home-page.png" alt="" />
    </div>
    <div class="main-txt">
      <h1>¡Productos Imperdibles!</h1>
      <p>Descubre y luce las prendas más increíbles de la temporada</p>
    </div>
  </main>

  <div class="products" id="list-of-products">
    <h2>Productos</h2>
    <div class="product-content"></div>
    <a href="./register-product.html" id="add-product-btn" class="btn-1" style="display: none">Añadir Producto</a>
  </div>
  <!-- Footer -->
  <footer>
    <div id="footer-container">
      <div class="footer-contact">
        <h4>CONTACTO</h4>
        <p><strong>WhatsApp:</strong> 3003103100</p>
        <p><strong>Correo:</strong> smaster@mail.com</p>
      </div>

      <div class="footer-social">
        <h4>SÍGUENOS</h4>
        <div id="social">
          <a href="#" class="social-icon"><img src="./../assets/ic--baseline-whatsapp.svg" alt="WhatsApp"></a>
          <a href="#" class="social-icon"><img src="./../assets/ic--baseline-facebook.svg" alt="Facebook"></a>
          <a href="#" class="social-icon"><img src="./../assets/mdi--instagram.svg" alt="Instagram"></a>
          <a href="#" class="social-icon"><img src="./../assets/mdi--twitter.svg" alt="Twitter"></a>
        </div>
      </div>
      <div class="footer-bottom">
        <a href="#" class="footer-link">Términos y condiciones</a> |
        <a href="#" class="footer-link">Política de Privacidad</a> |
        <a href="#" class="footer-link">Superintendencia</a>
        <p>&copy; 2024 Shop Master S.A.S.</p>
      </div>
    </div>
  </footer>

  <script type="module" src="./../js/index.js"></script>
  <script type="module" src="./../js/shopping-cart.js"></script>
</body>

</html>