<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Finalizar la compra</title>
  <link rel="stylesheet" href="../css/purchase.css" />
  <link rel="stylesheet" href="../css/payment-method.css" />
  <link rel="stylesheet" href="../css/invoice.css" />
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="home-btn">
        <a href="/">Inicio</a>
      </div>
      <h1>Finalizar la compra</h1>
    </div>
  </header>
  <main class="container">
    <section class="cart">
      <h2>Carrito de compras</h2>
      <table id="shop-list-order">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div id="button-container">
        <button type="button" id="flush-car-shop" class="btn-1">Vaciar Carrito</button>
        <button type="button" id="purchase-btn" class="btn-1">Realizar Compra</button>
      </div>
    </section>

    <div id="payment-form-popup" class="popup">
      <div class="popup-content">
        <span class="close-payment">&times;</span>
        <h2>Método de Pago</h2>
        <form id="payment-form">
          <label for="payment-method">Método de Pago:</label>
          <select id="payment-method" required>
            <option value="">Seleccione</option>
            <option value="1">Débito</option>
            <option value="2">Crédito</option>
          </select>

          <label for="card-number">Número de Tarjeta:</label>
          <input type="text" id="card-number" placeholder="################" maxlength="16" required />

          <label for="cardholder-name">Nombre del Titular:</label>
          <input type="text" id="cardholder-name" placeholder="Ingrese el nombre del titular" required />

          <label for="cardholder-lastname">Apellido del Titular:</label>
          <input type="text" id="cardholder-lastname" placeholder="Ingrese el apellido del titular" required />

          <label for="security-code">Código de Seguridad:</label>
          <input type="text" id="security-code" maxlength="3" placeholder="###" required />

          <label for="expiration-date">Fecha de Expiración:</label>
          <input type="month" id="expiration-date" required />

          <button type="submit" id="confirm-payment">Confirmar Pago</button>
        </form>
      </div>
    </div>

    <div id="invoice-popup" class="popup">
      <div class="popup-content">
        <span class="close">&times;</span>
        <h2>Factura</h2>
        <div id="invoice-id"></div>
        <div id="invoice-name"></div>
        <div id="invoice-date"></div>
        <div id="invoice-order"></div>
        <div id="invoice-total"></div>
      </div>
    </div>
  </main>
  <!-- <script type="module" src="../js/purchase.js"></script> -->
  <script type="module">
    import { initializeCart } from './../js/purchase.js';
    document.addEventListener("DOMContentLoaded", initializeCart);
  </script>
</body>

</html>