.btn-1 {
  background-color: #1d3557; /* Azul oscuro */
  color: #fff;
  border: none;
}

.btn-2 {
  background-color: #fff;
  color: #1d3557; /* Azul oscuro */
  border: rgba(29, 53, 87, 0.2) 0.025rem solid; /* Azul oscuro con transparencia */
}

.btn-1,
.btn-2 {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3125rem;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.btn-1:hover {
  background-color: #457b9d; /* Azul claro */
}

.btn-2:hover {
  background-color: rgba(173, 216, 230, 0.3); /* Azul pastel con transparencia */
}
