footer {
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 1em rgba(69, 123, 157, 0.1);
  /* Azul claro con transparencia */
  background-color: #f1faee;
  /* Verde claro */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#footer-container {
  display: flex;
  justify-content: space-around;
  width: 90vw;
}

.footer-contact,
.footer-social {
  align-self: center;
  min-width: 20vw;
}

.footer-contact h4,
.footer-social h4 {
  font-size: 0.8em;
  color: #1d3557;
  /* Azul oscuro */
}

#social {
  display: flex;
  justify-content: space-around;
}

.footer-contact p,
.footer-link {
  font-size: 0.8em;
  color: #457b9d;
  /* Azul claro */
}

.footer-link {
  text-decoration: none;
  color: #457b9d;
  /* Azul claro */
}

.footer-link:hover {
  color: #1d3557;
  /* Azul oscuro */
}

.footer-social .social-icon img {
  width: 1.5em;
  height: 1.5em;
  transition: transform 0.2s;
}

.footer-social .social-icon img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  align-self: center;
  font-size: 0.8em;
  color: #a8dadc;
  /* Verde suave */
}

.footer-bottom p {
  color: #457b9d;
  /* Azul claro */
}