header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d3557;
  color: white;
  text-align: center;
  height: 15vh;
}

main {
  max-height: 88vh;
}

.review-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.review-item:last-child {
  border-bottom: none;
}

.filter-btns button {
  margin-right: 10px;
}

.text-primary {
  color: #1d3557 !important;
}
